.artboardBg{
    width: 100%;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.toolBOX{
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoContainer_Toolbox{
 padding-left: 40px;   

}
.logoW{
    width: 60px;
}
.IconBtn{
    width: 50px;
    height: 50px;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a72;
     background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);;

}
.toolItems{
    width: 200px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ActionBtn_Toolbox{
    padding-right: 40px;
}